@page "/survey1"
@inject Models.EmployeeContext DBContext


<MatButton>Test</MatButton>
<h3>survey1</h3>
<form name='survey' method='POST' action='survey_porfile_add.php' enctype="multipart/form-data">
<input type='hidden' name='next' value='1'>
<br>
		<br>
			<div class="col-lg-12">
				<label><b>ข้อมูลพื้นฐานครัวเรือน (หน้าที่ 1/20)</b></label>
			</div>
		</div>

				<!--<input type='text' id="HC" name='HC' placeholder="ที่ระบุในทะเบียนบ้าน ขอดูทะเบียนบ้าน" onkeyup="autoTab(this,3)" onkeypress="autoTab(this,3)" maxlength='13' onblur="HC_out(this.form)" value='<?php echo$_SESSION['HC']?>' class="form-control" required >-->
<p>GroupIdAux:@SelectProvinceId</p>

   <MatSelect Label="จังหวัด2" @bind-Value="@SelectProvinceId" TValue="string"
Outlined="true" FullWidth>
	   @if (provinces1 != null)
	{
		@foreach(var item in provinces1)
	{
		<MatOption TValue="string" Value="@item.province_id">@item.province_name_thai</MatOption>
	}
		</div>

		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label for="pic">รูป (ขนาดรูปห้ามเกิน 400K)</label>
					<input type='file' name='picture' accept="image/*" id='pic' onchange="preview_image(event)" class="form-control">
			</div>

			<div class="col-lg-12  mb-3">
				<div style='display:table-cell' align='right'>คำอธิบายรูป : </div>
				<div style='display:table-cell'><textarea name='detail' class="form-control"></textarea></div>
			</div>

					
					<br><br><img id="output_image"width='400' />


			<br>

	}
</MatSelect>

<p>GroupIdAux:@SelectDistrictId</p>
<MatSelect Label="เลือกอำเภอ"  @bind-Value="@SelectDistrictId" TValue="string"  Outlined="true" FullWidth>
	   
	  
	
		@foreach(var item in districts)
	{
		<MatOption  TValue="String" Value="@item.district_id">@item.district_name_thai</MatOption>
	}
	
</MatSelect>
 
<p>GroupIdAux:@tambonId</p>
<MatSelect Label="เลือกอำเภอ" @bind-Value="@tambonId"  Outlined="true" FullWidth>
	  <MatOptionString></MatOptionString>
	
		@foreach(var item in tambons)
	{
		<MatOption TValue="string" Value="@item.tambon_id">@item.tambon_name_thai</MatOption>
	}
	
</MatSelect>
 


 
@code {
	string value1;
	List<province> provinces1=new List<province>();
	List<district> districts = new List<district>();
	List<tambon> tambons = new List<tambon>();
	string provinceId;
	string districtId;
	string districtId2;
	string tambonId;
//	List<province> provinces = new List<province>();
	 //private List<Models.district> districts = null;

	  private string threatId = null;
	  private string threatId2 = null;
	  private string threatId3 = null;

    public string SelectProvinceId
    {
        get { return threatId; }set
        {
            threatId = value;
            SelectThreatValueChanged(value);
        }
    }
    public string SelectDistrictId
    {
        get { return threatId2; }set
        {
			
					threatId2 = value;
			if (value != null && value != "")
			{
            SelectDistrictValueChanged(value);
			}
			else
			{
			//	tambons.Clear();
			}

        }
    }
    public string SelectTambonId
    {
        get { return threatId3; }set
        {
			
					threatId3 = value;
		
		
        }
    }

    
	  private async void SelectDistrictValueChanged(string id)
    {//https://stackoverflow.com/questions/64802201/blazor-matblazor-how-to-catch-the-value-change-of-matselect-component
		int proId = Convert.ToInt32(id);
		if(id!=null)
		 tambons =await DBContext.GetByIndex<string,tambon>("tambon",id,null,"district_id",false);
		tambonId = "";
		StateHasChanged();


    }
	  private async void SelectThreatValueChanged(string id)
    {//https://stackoverflow.com/questions/64802201/blazor-matblazor-how-to-catch-the-value-change-of-matselect-component
		int proId = Convert.ToInt32(id);
		tambonId ="";
		districts =await DBContext.GetByIndex<int?,district>("district", proId,0,"province_id",false);
		SelectDistrictId = null;
		
		tambons = new List<tambon>();
		StateHasChanged();
		//
	}
			





	 protected override async Task OnInitializedAsync()
	{
		 provinces1 = await DBContext.GetAll<province>("province");
	}
	

}
